@model RecipeMvc.Facade.Recipe.RecipeView

@{
	Layout = "_Details";
}

@{
    await Html.RenderPartialAsync("_ShowRecipe", Model);
}
<b>Ingredients</b>
<div>
    @if (Model.Ingredients != null && Model.Ingredients.Any()) {
        <ul>
            @foreach (var ing in Model.Ingredients) {
                <li>@ing.IngredientName (@ing.Quantity @ing.Unit)</li>
            }
        </ul>
    }
    else {
        <p>No ingredients listed</p>
    }
</div>
<form asp-action="AddRecipeToShoppingList" asp-controller="ShoppingLists" method="post" style="margin-bottom: 20px;">
    <input type="hidden" name="recipeId" value="@Model.Id" />
    <button type="submit" class="btn btn-success">Add to Shopping List</button>
</form>


