html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.custom-dropdown-btn {
    --bs-btn-bg: #8e947f;
    --bs-btn-hover-bg: #ccc098;
    --bs-btn-active-bg: #ccc098;
    background-color: var(--bs-btn-bg);
    border-color: var(--bs-btn-bg);
    color: white;
}

.custom-dropdown-btn:hover {
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-bg);
}

.custom-dropdown-btn:focus,
.custom-dropdown-btn:active {
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-bg);
    box-shadow: none;
}
.table-hover tbody tr:hover {
    background-color: #f0f8ff;
    transition: background-color 0.2s ease;
}
