@if (Context.User.Identity.Name != null)
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="navbar-form navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li style="display:inline;">
                <button type="submit"
                        style="background:none; border:none; color:inherit; padding:0; font:inherit; cursor:pointer;">
                    Log out
                </button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class=" nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Registration">Register</a>
        </li>
    </ul>
}