@if (Context.User.Identity.Name != null)
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="navbar-form navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                Hello @Context.User.Identity.Name
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-bin navbar-link">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class=" nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Registration">Register</a>
        </li>
    </ul>
}