@using Microsoft.AspNetCore.Identity

@if (Context.User.Identity.IsAuthenticated)
{
    <div class="nav-item dropdown ms-auto">
        <button class="btn custom-dropdown-btn dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            @Context.User.Identity.Name
        </button>
        <ul class="dropdown-menu dropdown-menu-end user-dropdown-menu" aria-labelledby="userDropdown">
            <li>
                <a class="dropdown-item" asp-controller="Account" asp-action="AccountInfo">View Info</a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Log out</a>
            </li>
        </ul>
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Registration">Register</a>
        </li>
    </ul>
}