@using RecipeMvc.Aids
@using RecipeMvc.Data
@using RecipeMvc.Data.Entities
@using RecipeMvc.Facade
@using RecipeMvc.Facade.PlannedRecipe
@model IEnumerable<PlannedRecipeView>
@{
    ViewData["Title"] = "Päeva toitumiskava";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var date = (DateTime)ViewBag.Date;
    var recipes = ViewBag.AllRecipes as List<RecipeData> ?? new List<RecipeData>();
    var selectedDay = ViewBag.Day as Days?;
    var currentFilter = ViewBag.CurrentFilter as string;
    var Calories = ViewBag.Calories as int? ?? 0;
}

@await Html.PartialAsync("_DayHeader", date)
@await Html.PartialAsync("_DaySearchForm", new { Date = date, CurrentFilter = currentFilter })
@await Html.PartialAsync("_DayNavigation", new { Date = date, SelectedDay = selectedDay })
@await Html.PartialAsync("_AddRecipeToDayForm", new { Date = date, SelectedDay = selectedDay, Recipes = recipes })
<div class="mb-2"><strong>Calories:</strong> @Calories</div>
@await Html.PartialAsync("_PlannedRecipeList", Model)