@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="mt-4">
        You need to log in to create recipes or see other features.
    </p>
    <div class="mt-4">
        <strong>This project is the result of the joint efforts of:</strong>
        <br />
        Liisa-Maria Eendla, Hanna Liis Heno, Richard Truuse, Henry Vinkler, Hanna-Liisa Värik
    </div>
    <div class="mt-4">
        <a href="https://docs.google.com/document/d/1z6hkTT5klz_zXk3wzsuERzhV9mMAii3KbdY65wjZKQw/edit?usp=sharing" target="_blank" class="btn btn-info">
            Link to the documentation
        </a>
    </div>
</div>
