@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Welcome to our Privacy Policy! (Yes, we have one. Sort of.)
</p>

<p>
    As a group of enthusiastic students, we promise to do our best to keep your data as safe as our own homework files—which, to be honest, sometimes get lost, too. We don’t sell your data, mostly because we wouldn’t even know how, and also because nobody has offered to buy it.
</p>

<p>
    Any information you provide is used solely for making this project work and for us to learn how real web apps function. We don’t track you across the internet, and we definitely don’t have the time (or skills) to do anything sneaky with your data.
</p>

<p>
    Please remember: this is a student project. While we try to follow best practices, our privacy guarantee is about as strong as our coffee during exam week. If you have any concerns, feel free to reach out—just don’t expect a team of lawyers to respond.
</p>

<p>
    By using this site, you acknowledge that you’re helping us learn, and that your privacy is in the hands of future software developers. Thanks for your understanding!
</p>
